*{margin: 0;
    font-family: sans-serif;
font-weight: bolder;
    padding: 0;
    box-sizing: border-box;}
    
    
    $color1:rgba(128,128,128,0.4);
    $color2:rgba(255,0,0,0.4);
    $color3:rgba(255,255,0,0.4);
    
    