@mixin boxCommon($color) {
    border: 2px solid white;
    background-color: $color;
    height: min-content;
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    font-size: 20vmin;       
    height: 100%;
    animation: splash 1s normal forwards ease-in-out;
    // animation-duration: 3s;
    transform: translateY(-550px);
animation-name: padaj;
    @keyframes  padaj {
        0% {
            transform: translateY(-550px);
          }
        
          100% {
            transform: translateY(0px);
          }
    }
}