@use 'base';
@use 'mixin';

main{
    background-color: black;
    padding: 10px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,28vw);
    grid-template-rows: repeat(1,30vw);
    gap: 5%;
    align-content: center;
    justify-content: center;

.container1{
    @include mixin.boxCommon(base.$color1);
    animation-delay: 2s;
}
.container2{
    @include mixin.boxCommon(base.$color2);
    animation-delay: 3s;
}
.container3{
    @include mixin.boxCommon(base.$color3);
    animation-delay: 4s;
}   
}