@use 'base';
@use 'mixin';

main{
background: url(https://img.freepik.com/premium-photo/black-wet-background-raindrops-overlaying-window-concept-autumn-weather-background_387864-6276.jpg?w=740);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,28vw);
    grid-template-rows: repeat(1,30vw);
    gap: 5%;
    align-content: center;
    justify-content: center;

div:nth-of-type(1){
    @include mixin.boxCommon(base.$color1);
    animation-delay: 0.5s;
}
div:nth-of-type(2){
    @include mixin.boxCommon(base.$color2);
    animation-delay: 2s;
}
div:nth-of-type(3){
    @include mixin.boxCommon(base.$color3);
    animation-delay: 3.5s;
}   
}